{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
SIMPLE PRODUCT CARD
----------------------------------------------------------------------------------------------------------------------

This component is used to render a single product as a card with only the product name and price.
{%- endcomment -%}

{% comment %} <product-card class="product-card" handle="{{ product.handle | escape }}"> {% endcomment %}
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT MEDIA
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
{% comment %} 
  
    <div class="product-card__figure">
      <a href="{{ product.url }}" class="product-card__media" data-instant>
        {%- capture sizes -%}
          (max-width: 699px) 74vw, (max-width: 999px) 38vw, calc((100vw - 96px) / 3 - (24px / 3 * 2))
        {%- endcapture -%}

        {%- capture main_image_classes -%}product-card__image product-card__image--primary {% if settings.product_image_aspect_ratio contains 'crop' %}object-cover{% endif %} aspect-{{ settings.product_image_aspect_ratio | split: '_' | first }}{%- endcapture -%}
        {{- product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800', class: main_image_classes -}}
      </a>
    </div> {% endcomment %}

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT INFO
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
{% comment %} 
  <div class="product-card__info empty:hidden">
    <div class="v-stack justify-items-start gap-1">
      {%- if show_title -%}
        <a href="{{ product.url }}" class="product-title {% if settings.product_title_max_lines > 0 %}line-clamp{% endif %}" {% if settings.product_title_max_lines > 0 %}style="--line-clamp-count: {{ settings.product_title_max_lines }}"{% endif %} data-instant>
          {{- product.title -}}
        </a>
      {%- endif -%}

      {%- render 'price-list', product: product, context: 'card' -%}
    </div>
  </div>
</product-card> {% endcomment %}

<div class="product-card" >
  <a href="{{ product.url }}" class="product-card__link">
    <div class="product-card__image-wrapper">
      {%- if product.featured_media -%}
        {{ product.featured_media | img_url: '400x400', scale: 2 | img_tag: product.title }}
      {%- else -%}
        <div class="placeholder-background">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
      <button class="outfit-selector__btn">
        <span>SELECTED</span>
        {%  render 'icon' with 'plus' %} 
      </button>
      
    </div>
    <div class="product-card__info justify-start gap-0.5">
      <p class="outfit-card__title">{{ product.title }}</p>
      <div class="product-card__price">
        <span class="outfit-card__price">{{ product.price | money }}</span>
      </div>
    </div>
  </a>
</div>