{% assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 %}

<div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container {%  unless section.settings.container_size == 'full' %}container--{{ section.settings.container_size }}{% endunless %}">
    <div class="outfit-creator-container">
    <div class="section-stack border__bottom padding__bottom">
      {% render 'section-header'
        , subheading: section.settings.subheading
        , heading: section.settings.title
        , content: section.settings.content
        , text_alignment: 'center'
         %}
    </div>
    {%  render 'my-outfit-drawer', color_scheme: section.settings.color_scheme.id, product_image: section.settings.image | image_object %} 
   
    <div class="outfit-creator">
        <div class="outfit-creator__container gap-12">
          <div class="product-categories__container">
            {%- if section.blocks.size > 0 -%}
  {%- for block in section.blocks -%}
    {%- assign collection = block.settings.collection -%}
    {%- assign products_count = block.settings.products_count -%}

    {%- capture accordion_content -%}
      <product-list class="product-list  product-card-size {% if section.settings.hide_product_information %}product-list--compact{% endif %} justify-start gap-4">
        {%- for product in collection.products limit: products_count -%}
          {%- render 'ourfit-creator-product-card', product: product, block: block -%}
        {%- else -%}
          {%- for i in (1..products_count) -%}
            {%- render 'outfit-creator-placeholder-card',loop_index: forloop.index0 -%}
          {%- endfor -%}
        {%- endfor -%}
      </product-list>
    {%- endcapture -%}

    {%- render 'accordion', title: block.settings.collection_heading, content: accordion_content, open: forloop.first, class: 'border__bottom' ,block: block -%}
  {%- endfor -%}
{%- endif -%}
   
          </div>
          <div class="product-preview__container">
            <div class="preview-img__container">
              {% if section.settings.image != blank  %}
                <picture>         
                  <div  style="position: absolute;">
                  
                  <img srcset="../assets/PantsRaspberry.png" height="600px" width="400px">              </div> 
                  {%  assign sizes = "(max-width: 699px) 100vh,50vh" %}   
              
                 {{ section.settings.image |  image_url: width: section.settings.image.width |  image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', reveal-on-scroll: section.settings.reveal_on_scroll, class: "preview-image"  }}
                </picture>
       

                <div class="product-preview__btn-group">
                  {% render "button", content: "Buy Outfit", aria_controls: "my-outfit-drawer", background: section.settings.backgroundOne, stretch: "true" %}
                  {% render "button", content: "Clear all selection", background: section.settings.backgroundTwo, style: "outline", stretch: "true" %}
                </div>
              {% else %}
                {{ 'image' |  placeholder_svg_tag: 'placeholder' }}
              {% endif %} 

            </div>
          </div>

        </div>

    </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Outfit Creator",
    "class": "shopify-section--outfit-creator",
    "tag": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:global.colors.scheme",
        "default": "scheme-1"
      },
      {
        "type": "checkbox",
        "id": "seperate_section_with_border",
        "label": "t:global.section.separate_section_with_border",
        "default": true
      },
      {
        "type": "select",
        "id": "container_size",
        "label": "t:global.sizes.section_width",
        "options": [
          {
            "value": "lg",
            "label": "t:global.sizes.large"
          }, {
            "value": "xl",
            "label": "t:global.sizes.x_large"
          }, {
            "value": "full",
            "label": "t:global.sizes.full_width"
          }
        ],
        "default": "lg"
      },
      {
        "type": "header",
        "content": "t:global.section.header_category"
      }, {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:global.text.subheading"
      }, {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:global.text.heading",
        "default": "Outfit creator"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "t:global.text.content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "preview_img",
        "label": "Preview Image"
      },
      {
        "type": "color",
        "id": "backgroundOne",
        "label": "Button-1 Background"
      },
      {
        "type": "color",
        "id": "backgroundTwo",
        "label": "Button-2 Background"
      }
      
    ],
    "blocks": [
      {
        "name": "Collection",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "inline_richtext",
            "id": "collection_heading",
            "label": "Collection Heading",
            "default": "Collection Category"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
          },
          {
            "type": "inline_richtext",
            "id": "product_name",
            "label": "Product Name",
            "default": "Product Name"
          },
          {
            "type": "inline_richtext",
            "id": "product_price",
            "label": "Product_price",
            "default": "Product Price"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Outfit Creator",
        "blocks": [
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}